@import '../../shared/styles/globalVariables';

#tool-menu {
  position: fixed;
  left: 0; top: $menu-size; bottom: $menu-size;
  z-index: 50;

  width: $menu-size;

  display: flex;
  flex-flow: column nowrap;

  .button {
    @extend %button-32;
    
    place-items: center;

    border: 1px solid black;
    border-left: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    &:hover .tooltip {
      visibility: visible;
    }

    .tooltip {
      @extend %tooltip;
      white-space: nowrap;
    
      /* Position the tooltip */
      position: absolute;
      left: 120%;
      z-index: 1;
    }

    .tooltip::after {
      @extend %tooltip-left-arrow
    }
  }

  .divider {
    height: $button-gap-height;
  }
}

