@import '../../../styles/globalVariables.scss';
@import '../../../styles/cardVariables.scss';

.header {
  display: flex;
  flex-flow: row nowrap;

  height: $card-header-height;

  border-bottom: 1px solid black;

  .title {
    @extend %title-field;
    flex: 1;
    
    text-align: left;
    font-size: $card-header-font-size;
    text-overflow: ellipsis;
    // line-height: 24px;
    // max-height: 32px;
    line-clamp: 1;

    overflow: hidden;

    -webkit-transition: .4s;
    transition: .4s;

    &:hover {
      cursor: move;
    }
  }
  
  .headerButtons {
    border-left: 1px solid black;

    background: #ddd;

    height: 100%;

    input {
      @extend %small-button;
      height: 22px;
    }
  }
}