@import '../../../styles/index.scss';

.header {
  display: flex;
  flex-flow: row nowrap;

  // height: 38px;

  border-bottom: 1px solid black;

  .title {
    @extend %title-field;
    flex: 2;
    
    text-align: left;
    font-size: 20px;
    text-overflow: ellipsis;
    line-height: 24px;
    max-height: 32px;
    line-clamp: 1;

    overflow: hidden;

    -webkit-transition: .4s;
    transition: .4s;

    &:hover {
      cursor: move;
    }
  }
  
  .headerButtons {
    display: flex;
    flex-flow: row nowrap;

    height: 100%;

    input {
      @extend %small-button;
      height: 25px;
  
      border-left: 1px solid black;
  
      background: #ddd;
    }
  }
}