@import '../../shared/styles/globalVariables.scss';

#library {
  position: absolute;
  right: 0;
  
  overflow-x: hidden;
  -webkit-transition: .4s;
  transition: .4s;

  display: grid;
  grid-template-columns: 41px 1fr;
  
  #libBtnGrid {
    grid-column: 1 / 2;
    height: 100%;

    #showLibButton {
      @extend %small-button;
      left: 0;
      height: 30px; width: 30px;
      margin: 3px 0;
    
      border: 1px solid black;
      border-right: 0px;
    }
  }

  #libPanelGrid {
    grid-column: 2 / 3;
    height: 100%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;

    #libSearchBar {
      margin: 10px;
    
      input {
        height: 30px;
        font-size: large;
      }
    }

    .libDivider {
      height: 10px; width: 100%;
    }
  }
}