.card-content {
  border-bottom-left-radius: 7px; border-bottom-right-radius: 7px;

  flex: auto;

  .text-textarea {
    box-sizing: border-box;
    height: 100%; width: 100%;
    margin: 0;  padding: 5px;
    border: 0;

    font-size: 18px;
    text-overflow: ellipsis;

    resize: none;
    overflow: auto;
    
    &:read-only {
      cursor: default;
    }

    &:read-write {
      background-color: white;
    }
  }
}