@import '../../../shared/styles/globalVariables';

.view-tab {
  float: left;
  height: 100%;
  padding: 0;  margin: 0;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  white-space: nowrap;

  display: flex;
  flex-flow: row nowrap;

  .title {
    @extend %title-field;

    width: 100%;

    font-size: 22px;
  }

  .divider {
    height: 32px; width: 1px;
    margin: auto;
    background-color: black;
  }

  .button {
    @extend %button-32;
    background-color: transparent;
    place-items: center;

    &:hover .tooltip {
      visibility: visible;
    }

    .tooltip {
      @extend %tooltip;
    
      /* Position the tooltip */
      position: absolute;
      bottom: 120%;
      right: -8%;
      z-index: 1;
    }

    .tooltip::after {
      @extend %tooltip-bottom-arrow;
    }
  }
}