@import '../../../shared/styles/globalVariables';

.view-tab {
  float: left;
  height: 100%;
  padding: 0;  margin: 0;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  white-space: nowrap;

  display: flex;
  flex-flow: row nowrap;

  .title {
    @extend %title-field;

    width: 100%;

    font-size: 22px;
  }

  .color {
    .color-display {
      height: 32px; width: 24px;
      border-radius: 3px;
    }
  }

  .color-setting {
    position: absolute;
    width: 100px;
    right: 74px;
    overflow: hidden;
    background-color: white;

    -webkit-transition: .4s;
    transition: .4s;

    display: flex;
    flex-flow: row nowrap;

    .color-button {
      height: 40px; width: 30px;
    }
  }
}

.view-tab-divider {
  height: 32px; width: 1px;
  margin: auto;
  z-index: 5;
  background-color: black;
}

.button-32 {
  @extend %button-32;
  background-color: transparent;
  place-items: center;

  &:hover .tooltip {
    visibility: visible;
  }

  .tooltip {
    @extend %tooltip;
  
    /* Position the tooltip */
    position: absolute;
    bottom: 15%;
    right: 25%;
    z-index: 10;
  }

  .tooltip::after {
    @extend %tooltip-right-arrow;
  }
}