@import '../../shared/styles/globalVariables';

#viewSelect {
  position: relative;
  background-color: lightgray;
  overflow: hidden;

  display: flex;
  flex-flow: row nowrap;
  
  #addView {
    @extend %button-32;
    
    border-top: 1px solid black;
    border-right: 1px solid black;

    &:hover .tooltip {
      visibility: visible;
    }

    .tooltip {
      @extend %tooltip;
    
      /* Position the tooltip */
      position: absolute;
      bottom: 50px;
      z-index: 1;
    }

    .tooltip::after {
      @extend %tooltip-bottom-arrow
    }
  }

  .filler {
    flex: 1;
    border-top: 1px solid black;
  }
}
