@import '../../styles/globalVariables';
@import '../../styles/viewVariables.scss';

#viewSelect {
  display: flex;
  flex-flow: row nowrap;

  // height: $view-select-height;

  overflow: hidden;

  .buttons {
    @extend %small-button;
    height: 30px;
    width: 30px;

    place-items: center;
  }

  #addView {
    float: left;
    
    border: 1px solid black;
  }

  #libraryView {
    position: absolute;
    right: 0;

    border: 1px solid black;
  }

  .filler {
    flex: 1;
    border-top: 1px solid black;
  }
}
