$library-width: 35vw;

.open { right: 0 }
.close { right: -$library-width }
.library {
  position: fixed;
  top: 48px;
  bottom: 43px;
  z-index: 80;

  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.library-panel {
  height: 100%;
  width: $library-width;
  background-color: #FFFFFF;
  border: 1px solid #F4F4F4;
  padding: 25px;

  display: flex;
  flex-flow: column nowrap;
  gap: 13px;
}

.library-btn {
  position: absolute;
  top: 3%;
  right: 102%;
  height: 50px;
  width: 50px;
  padding: 4px;
  background-color: #FFFFFF;
  border: 1px solid #F4F4F4;
  border-radius: 12px;
  box-shadow: 2px 2px 8px -3px #D7D6D6;

  .tooltip {
    top: 27%;
    right: 120%;
    white-space: nowrap;
  }
  .tooltip::after {
    top: 50%;
    left: 100%;
    border-left-color: #363B4E;
  }

  &:hover { box-shadow: 0 0 0 3px #DBE2EB; }
}

$search-height: 32px;
$search-img-height: 19px;
$search-img-offset: calc(($search-height - $search-img-height) / 2);
$search-clear-height: 10px;
$search-clear-offset: calc(($search-height - $search-clear-height) / 2);
$search-count-height: 16px;
$search-count-top: calc(($search-height - $search-count-height) / 2);
$search-count-offset: $search-clear-height + $search-clear-offset + $search-clear-offset;
$search-text-left-offset: $search-img-height + $search-img-offset*2;
$search-text-right-offset: $search-count-offset + 80px;
.search-row {
  height: $search-height;
  position: relative;

  .search-img {
    height: $search-img-height;
    position: absolute;
    left: $search-img-offset;
    top: $search-img-offset;
    content: url('../../assets/icons/magnifying-glass.svg')
  }

  .search-input {
    width: 100%;
    height: $search-height;
    border: 1px solid #F4F4F4;
    border-radius: 8px;
    padding: 0 $search-text-right-offset 0 $search-text-left-offset;
    background: #F4F4F4;

    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    letter-spacing: 0.05em;
    text-align: left;

    &::placeholder {
      color: #353535;
    }

    &:focus { 
      border: 1px solid #7E849A;
      box-shadow: 0 0 0 4px #DBE2EB;
    }
    &:focus::placeholder { color: gray; }
  }
  &:hover > .search-input { box-shadow: 0 0 0 4px #DBE2EB; }

  .search-count {
    height: $search-count-height;
    position: absolute;
    top: $search-count-top;
    right: $search-count-offset;
    color: #7E849A9C;
  }

  .search-clear {
    // height: $search-clear-height;
    height: $search-height;
    position: absolute;
    padding: $search-clear-offset;
    // top: $search-clear-offset;
    // right: $search-clear-offset;
    top: 0;
    right: 0;
    content: url('../../assets/icons/search-clear-black.svg');
    &:hover { content: url('../../assets/icons/search-clear-faded.svg'); }
  }

  /* Hide the clear button */
  input::-ms-clear { display: none; }
  input::-webkit-search-cancel-button { display: none; }
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration { display: none; }
  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
  }
  input[type="search"]::-ms-clear { display: none; }
}

.selection-row {
  font-family: Roboto;

  .title {
    padding: 10px 0;
    font-size: 12px;
    font-weight: 600;
    line-height: 14.06px;
    letter-spacing: 0.015em;
    text-align: left;
  }
  .selections {
    display: flex;
    flex-flow: row nowrap;
    gap: 9px;

    .selected { background-color: #DBE2EB !important;}
    .option {
      padding: 9px 12px 9px 12px;
      border-radius: 6px;
      background-color: white;
      box-shadow: 0 0 0 1px #F3F3F3;
      display: flex;
      flex-flow: row nowrap;
      gap: 10px;

      &:hover { box-shadow: 0 0 0 3px #DBE2EB; }

      span {
        font-size: 12px;
        font-weight: 400;
        line-height: 14.06px;
        letter-spacing: 0.015em;
        text-align: left;
      }
    }

    .color-selection {
      position: relative;

      .color-display {
        width: 16px;
        height: 16px;
        padding: 0;
        border: 1px solid #353535;
        border-radius: 2px;
        &:hover {
          background-color: #CCD6E3;
          box-shadow: 0 0 0 3px #DBE2EB;
        }
      }

      .color-dropdown {
        right: 0;
      }
    }

    .divider {
      height: 25px;
      margin: auto 10px;
      border: 1px solid black;
    }
  }
}

.option-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: right;
  gap: 2px;

  .horizontal-bar {
    margin: auto 0;
    height: 0;
    border: 1px solid #D7D6D6;
    flex: 1;
  }

  .option {
    background-color: white;
    border-radius: 8px;
    padding: 5px;
    &:hover { background-color: #DBE2EB;}
  }
}

$shift-right: 16px;
$scrollbar-width: 8px;
$scrollbar-border: calc(($shift-right - $scrollbar-width) / 2);
$scrollbar-radius: 6px + $scrollbar-border;
.library-card-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  overflow-y: scroll;
  padding: 5px;
  margin-right: -$shift-right;

  &::-webkit-scrollbar {
    position: absolute;
    left: 0;
    width: $shift-right;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #E5E5E5;
    border: $scrollbar-border solid white;
    border-radius: $scrollbar-radius;
  }
}
