$library-width: 35vw;

.open { right: 0 }
.close { right: -$library-width }
.library {
  position: fixed;
  top: 48px;
  bottom: 43px;
  z-index: 80;

  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.library-panel {
  height: 100%;
  width: $library-width;
  background-color: #FFFFFF;
  border: 1px solid #F4F4F4;
  padding: 25px;

  display: flex;
  flex-flow: column nowrap;
  gap: 13px;
}

.libary-card-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}

.library-btn {
  position: absolute;
  top: 3%;
  right: 102%;
  height: 50px;
  width: 50px;
  padding: 4px;
  background-color: #FFFFFF;
  border: 1px solid #F4F4F4;
  border-radius: 12px;
  box-shadow: 2px 2px 8px -3px #D7D6D6;

  .tooltip {
    top: 30%;
    right: 115%;
    white-space: nowrap;
  }
  .tooltip::after {
    top: 50%;
    left: 100%;
    border-left-color: #363B4E;
  }
}

.selection-row {
  font-family: Roboto;

  .title {
    padding: 10px 0;
    font-size: 12px;
    font-weight: 600;
    line-height: 14.06px;
    letter-spacing: 0.015em;
    text-align: left;
  }
  .selections {
    display: flex;
    flex-flow: row nowrap;
    gap: 9px;

    .selected { background-color: #DBE2EB !important;}
    .option {
      padding: 9px 12px 9px 12px;
      border-radius: 6px;
      background-color: white;
      box-shadow: 0 0 0 1px #F3F3F3;
      display: flex;
      flex-flow: row nowrap;
      gap: 10px;

      &:hover { box-shadow: 0 0 0 3px #DBE2EB; }

      span {
        font-size: 12px;
        font-weight: 400;
        line-height: 14.06px;
        letter-spacing: 0.015em;
        text-align: left;
      }
    }

    .color-selection {
      position: relative;

      .color-display {
        width: 16px;
        height: 16px;
        padding: 0;
        border: 1px solid #353535;
        border-radius: 2px;
        &:hover {
          background-color: #CCD6E3;
          box-shadow: 0 0 0 3px #DBE2EB;
        }
      }

      .color-dropdown {
        right: 0;
      }
    }

    .divider {
      height: 25px;
      margin: auto 10px;
      border: 1px solid black;
    }
  }
}

.library-card-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}
