@import '../../shared/theme';

$menu-size: 42px;
$btn-divider-height: 8px;

.library {
  position: absolute;
  top: $menu-size; bottom: $menu-size;
  z-index: 80;
  
  -webkit-transition: .4s;
  transition: .4s;

  .library-search-container {
    height: 100%;
    border-left: 1px solid black;
    background-color: $library-bg-color;
    
    -webkit-transition: .4s;
    transition: .4s;

    .search-bar input {
      border-radius: 5px;
      background-color: $library-search-bg-color;
    }
  }
  
  .show-library {
    top: $btn-divider-height;
    height: 64px;
    .tooltip { top: 20%; right: 130%; }
    .tooltip::after { top: 50%; left: 100%; border-left-color: black; }
  }
  
  .expand-shrink {
    top: 3 * $btn-divider-height + 64px;
    .tooltip { top: 18%; right: 130%; }
    .tooltip::after { top: 50%; left: 100%; border-left-color: black; }
  }
}

.library-menu-btn {
  position: absolute;
  left: -41px;
  height: 32px; width: 32px;
  padding: 4px;

  background-color: lightgray;

  border: 1px solid black;
  border-right: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}