$horizontal-divide: 0.4rem;

.library-search-container {
  padding: 0.5rem;

  overflow: hidden;

  display: flex;
  flex-flow: column nowrap;
}

.library-search-bar-container {
  height: 2.75rem;
  padding: 0.2rem 0.2rem 0.4rem 0.2rem;
  margin-bottom: $horizontal-divide;

  display: flex;
  flex-flow: row nowrap;

  img {
    margin-right: $horizontal-divide;
  }

  .search-bar{
    position: relative;
    width: 85%;

    .search-input {
      position: absolute;
      height: 100%; width: 100%;
      margin-right: $horizontal-divide;
      font-size: large;
    }
  
    .search-count {
      position: absolute;
      top: 10px; right: 30px;
      color: gray;
      line-height: 15px;
    }
  }
}

.library-search-types {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  div {
    border-bottom: 1px solid black;
    text-align: center;
    flex: 1 1 auto;
  }
}

.library-search-results-container {
  flex: 1 1 auto;
  padding: 10px 5px;

  align-items: center;
  text-align: center;

  overflow-x: hidden;
  overflow-y: scroll;

  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}