@import '../../shared/styles/globalVariables.scss';

$btn-divider-height: 8px;

.library {
  position: fixed;
  top: $menu-size; bottom: $menu-size;
  z-index: 80;
  
  -webkit-transition: .4s;
  transition: .4s;

  .library-search-container {
    height: 100%;
    border-left: 1px solid black;
    background-color: white;
    
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .show-library {
    top: $btn-divider-height;
    height: 64px;
    .tooltip {
      top: 20px;
    }
  }
  
  .expand-shrink {
    top: 3 * $btn-divider-height + 64px;
  }
}

.library-menu-btn {
  position: absolute;
  left: -41px;
  box-sizing: content-box;
  height: 32px; width: 32px;
  margin: 0;  
  padding: 4px;

  background-color: lightgray;
    
  place-items: center;

  border: 1px solid black;
  border-right: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  &:hover {
    background-color: lightskyblue;
  }

  &:hover .tooltip {
    visibility: visible;
  }

  .tooltip {
    @extend %tooltip;
    white-space: nowrap;
  
    /* Position the tooltip */
    position: absolute;
    right: 120%;
    top: 4px;
    z-index: 100;
  }

  .tooltip::after {
    @extend %tooltip-right-arrow;
  }
}