@import '../../../styles/globalVariables.scss';

.previewCard {
  position: relative;

  border: 1px solid black;
  margin: 1px;

  .previewTitleBar {
    display: flex;
    flex-flow: row nowrap;
    
    border-bottom: 1px solid black;

    .previewTitle {
      @extend %title-field;
      flex: 1;
    }
    .previewDeleteButton {
      border-left: 1px solid black;
      
      input {
        @extend %small-button;
        height: 22px;
      }
    }
  }

  .previewContent {
    
  }
}