@import '../../../shared/styles/globalVariables';

.body {
  background-color: white;
  
  flex: auto;

  .textfield {
    @extend %value-field;
    height: 100%; width: 100%;

    box-sizing: border-box;

    background: #ddd;

    font-size: 18px;

    resize: none;
    overflow: auto;
  }
}