@import '../../shared/layout';
@import '../../shared/theme';

// follow viewscreen example. use position absolute

.tab-bar {
  position: absolute;
  bottom: 0; left: 0; right: 0;
  z-index: $tab-bar-z;

  height: $tab-bar-height;

  background-color: $tab-bar-bg-color;

  display: flex;
  flex-flow: row nowrap;

  // display: grid;
  // grid-template-columns: 41px 1fr 82px;

  .btn-container {
    position: relative;
    z-index: 1;
    border-top: 1px solid black;

    display: flex;
    flex-flow: row nowrap;
    gap: 0.1em;

    .btn-32 { padding: 0; }

    .add-tab {
      .tooltip { bottom: 120%; left: 15%; white-space: nowrap; }
      .tooltip::after { top: 115%; left: 15%; border-top-color: black; }
    }
    
    .show-tablist {
      .tooltip { bottom: 120%; left: -57%; white-space: nowrap; }
      .tooltip::after { top: 115%; left: 40%; border-top-color: black; }
    }

    .view-scroll-left {
      .tooltip { bottom: 120%; left: -56%; white-space: nowrap; }
      .tooltip::after { top: 115%; left: 40%; border-top-color: black; }
    }

    .view-scroll-right {
      .tooltip { bottom: 120%; left: -66%; white-space: nowrap; }
      .tooltip::after { top: 115%; left: 40%; border-top-color: black; }
    }

    .tablist-container {
      position: absolute;
      bottom: $tab-bar-height + 8px;
      max-height: 50vh;
      min-width: 10vw; max-width: 20vw;
      z-index: -2;
      overflow-y: auto;

      border: 1px solid $tab-menu-bd-color;
      box-shadow: 2px 2px 8px -3px $tab-menu-ds-color;

      background-color: $tab-menu-bg-color;

      -webkit-transition: .15s;
      transition: .15s;

      //button { padding: 0.1rem 0.3rem; }
    }
  }

  .tabs-container {
    position: relative;
    height: 100%; width: auto;
    z-index: 0;

    display: flex;

    .scroll-container {
      position: absolute;
      height: 100%;

      transition: .15s;
      
      display: flex;
      flex-flow: row nowrap;
    }

    .border-line {
      height: 100%; width: 100vw;
      z-index: -1;
      border-top: 1px solid black;
    }
  }
  // ::-webkit-scrollbar {
  //   // makes scrollbar invisible
  //   display: none;
  //   width: 0;
  //   background: transparent;
  // }
}