.modal {
  position: fixed;
  left: 15%; top: 30%;

  width: 70%;
  border: 1px solid #ccc;
  padding: 16px;

  box-sizing: border-box;
  box-shadow: 1px 1px 1px black;
  z-index: 500;

  background-color: white;

  transition: all 0.2s ease-out;
}

@media (min-width: 600px) {
  .modal {
    width: 500px;
    left: calc(50% - 250px);
  }
}