.cloud { background-color: #F4F4F4; }
.gray { background-color: #CCD6E3; }
.pink { background-color: #FFD8E1; }
.lichen_green { background-color: #B8DAB6; }
.cotton_blue { background-color: #C1E9FF; }
.butter { background-color: #FFEDAB; }
.sage { background-color: #87BAC1; }
.lilac { background-color: #BEC5FF; }
.orange { background-color: #FFAB49; }
.corn { background-color: #FFD749; }
.carrot { background-color: #ED5E31; }
.lavender {background-color: #C598F2; }
.red { background-color: #D84C4C; }
.cobalt { background-color: #0E77D8; }
.chestnut { background-color: #BC9681; }
.eggplant { background-color: #503C7C; }
.jungle { background-color: #225C33; }
.forest { background-color: #134444; }
.shadow { background-color: #363B4E; }
.black { background-color: #000000; }