%title-field {
  margin: 0;  padding: 5px;

  color: black;
  background-color: lightskyblue;

  border: 0;

  font-weight: bold;
  text-align: center;

  @extend %hover-effect;
  @extend %read-only-effect;
}

%value-field {
  margin: 0;  padding: 5px;

  color: black;
  background-color: lightskyblue;
  
  border: 0;

  @extend %read-only-effect;
}

%small-button {
  margin: 0;  padding: 5px;

  color: black;
  background-color: lightgray;

  border: none;
  text-decoration: none;

  font-size: 22px;
  font-weight: bold;
  text-align: center;

  @extend %hover-effect;
}

%hover-effect {
  &:hover {
    background-color: lightskyblue;
  }
}

%read-only-effect {
  &:read-only {
    background-color: lightgray;
    cursor: default;
  }
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

// ::selection {
//   color: none;
//   background: none;
// }