.view-tab {
  float: left;
  height: 100%;
  padding: 0;  margin: 0;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  white-space: nowrap;

  display: flex;
  flex-flow: row nowrap;

  &:hover .title-btn {
    opacity: 1;
    transition: opacity 0.2s linear;
  }

  .title-input {
    position: relative;
    height: 100%; width: 100%;
    padding-left: 5px;
    border: 0;

    color: black;

    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-overflow: ellipsis;

    overflow: hidden;

    &:read-only {
      background-color: lightgray;
      cursor: default;
    }
  }

  .edit-title {
    right: 42px;
    border: 0;
    background-color: transparent;
    .tooltip { bottom: 90%; right: 100%; white-space: nowrap;}
    .tooltip::after { top: 100%; right: 40%; border-bottom-color: black; }
  }

  .destroy-view{
    right: 0;
    .tooltip { bottom: 40%; right: 120%; }
    .tooltip::after { top: 100%; right: 25%; border-bottom-color: black; }
  }
}

// .view-tab-divider {
//   height: 32px; width: 1px;
//   margin: auto;
//   z-index: 5;
//   background-color: black;
// }