@import '../../../../styles/index.scss';

.colorList {
  position: fixed;
  top: 40px;  // this is header height + border
  width: 100%;

  border-bottom: 1px solid black;
  
  background-color: white;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */

  .colorButtons {
    // position: static;
    // padding: 10px 10% 0 10%;

    border-bottom: 1px solid #999;

    // column-count: 4;

    button {
      @extend %small-button;
      // padding: 0 0 12.5% 0;
      width: 12.5%;
      height: 40px;

      // border: 2px solid white;
      // border-radius: 5px;
    }

    // div {
    //   position: static;
    //   float: left;
    //   width: 12.5%;
    //   // margin-bottom: 15px;

    //   text-align: center;

    //   button {
    //     @extend %small-button;
    //     padding: 100% 0 0 0;
    //     // height: 100%;
    //     width: 100%;

    //     // border: 2px solid white;
    //     // border-radius: 5px;
    //   }
    // }
  }

  .acceptButtons {

    .buttonAccept {
      @extend %small-button;
      width: 50%;

      font-size: 16px;
      font-weight: normal;
    }

    .right {
      border-left: 1px solid #999;
    }
  }
}