$card-radius: 12px;
$title-height: 32px;

.card {
  padding: 0;
  margin: 0;
  border: 0;
  height: 100%;
  width: 100%;
  border-radius: $card-radius;
  box-sizing: content-box;

  display: flex;
  flex-flow: column nowrap;
  
}
.active-card {
  background-color: #7E849A;
  box-shadow: 0 0 0 1px #7E849A,
    0 0 0 6px #DBE2EB,
    2px 2px 8px -3px #D7D6D6;
}
.inactive-card {
  background-color: #D7D6D6;
  box-shadow: 0 0 0 1px #D7D6D6,
    2px 2px 8px -3px #D7D6D6;
  &:hover {
    box-shadow: 0 0 0 6px #DBE2EB,
      2px 2px 8px -3px #D7D6D6;
  }
}
@keyframes card-blink { 50% { box-shadow: 0 0 0 6px #5BC5FF, 2px 2px 8px -3px #D7D6D6; } }

.card-title {
  width: 100%;
  margin: 0;
  padding: 0 9px;
  border-radius: $card-radius $card-radius 0 0;

  display: grid;
  grid-template-columns: auto 18px 12px;
  gap: 12px;

  .dark { color: black; }
  .light { color: white; }
  .input-div {
    width: 100%;
    padding: 0 3px;
    border-radius: $card-radius 0 0 0;
    background-color: transparent;

    .editing {
      user-select: default;
      -moz-user-select: default;
      -webkit-user-select: default;
      cursor: text;
    }
    input {
      width: 100%;
      height: 24px;
      margin: 4px auto;
      border: 0;
      background-color: transparent;

      font-family: "Roboto";
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 25px;
      text-align: left;
      letter-spacing: 0.05em;
      font-feature-settings: "kern" off;
      color: inherit;
      text-overflow: ellipsis;

      cursor: grab;
    }
  }

  .color-btn {
    display: flex;
    background-color: transparent;
    &:hover > img { content: url('../../assets/icons/rounded-square-hover.svg'); }
  }

  .dropdown-btn {
    display: flex;
    background-color: transparent;
    img { transition-duration: .5s; }
    &:hover > img { transform: translateY(3px); }
  }
}

$scrollbar-width: 17px;
.card-content {
  margin: 0;
  padding: 0;
  border-radius: 0 0 $card-radius $card-radius;
  flex-grow: 1;
  overflow: hidden;

  .text {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 7px 14px;
    margin: 0;
    border: 0;
    border-radius: inherit;
    background-color: white;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    font-family: Roboto;
    line-height: 20px;
    letter-spacing: 0.05em;
    font-feature-settings: "kern" off;
    color: black;
    text-overflow: ellipsis;
    resize: none;
    overflow: auto;
    cursor: auto;
    &:read-only { cursor: default; }

    &::-webkit-scrollbar { width: $scrollbar-width; }
    &::-webkit-scrollbar-track { background-color: #00000000; }
    &::-webkit-scrollbar-thumb {
      background-color: #E5E5E5;
      border: 5px solid white;
      border-radius: $card-radius;
    }
  }
}

.library-card-content-container {
  border-radius: 0 0 $card-radius $card-radius;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  overflow: hidden;

  display: flex;
  flex-flow: column nowrap;

  .library-card-textarea {
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: 100%;
    margin: 0 auto;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0;
    padding: 15px 8px 15px 15px;
    border: 0;
    border-radius: 0 0 $card-radius $card-radius;
    resize: none;
    background-color: white;
    font-family: "Roboto";
    cursor: auto;

    &::-webkit-scrollbar { width: $scrollbar-width; }
    &::-webkit-scrollbar-track { background-color: #00000000; }
    &::-webkit-scrollbar-thumb {
      background-color: #E5E5E5;
      border: 5px solid white;
      border-radius: $card-radius;
    }
  }

  .library-card-textarea.selected {
    flex: 1 1 auto;
    overflow-y: auto;
    -webkit-line-clamp: inherit;
  }
}

