// card config
$round-radius: 12px;

// title config
$title-height: 32px;
$btn-width: 26px;

.active { margin: 0px; border: 3px solid #C1E9FF; }
.inactive { margin: 2px; border: 1px solid #F4F4F4; }
.card {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  box-shadow: 2px 2px 8px -3px #D7d6D6;
  border-radius: $round-radius;

  display: grid;
  grid-template-rows: $title-height auto;

  &:hover {
    margin: 0px;
    border: 3px solid #C1E9FF;
  }
}

@keyframes card-blink {
  50% {
    border: 3px solid red;
    margin: 0px;
  }
}

.title {
  border-radius: ($round-radius)-3px ($round-radius)-3px 0 0;

  display: grid;
  grid-template-columns: auto $btn-width $btn-width;
  padding: 0 ($round-radius)-6px;

  .dark { color: black; }
  .light { color: white; }
  .input-div {
    width: 100%;
    border-radius: $round-radius 0 0 0;
    background-color: transparent;

    .editing {
      background-color: #C1E9FF;
      color: #363B4E;
      user-select: default;
      -moz-user-select: default;
      -webkit-user-select: default;
      cursor: text;
    }
    .editing-2 {
      background-color: #5BC5FF;
      color: #363B4E;
      user-select: default;
      -moz-user-select: default;
      -webkit-user-select: default;
      cursor: text;
    }
    input {
      width: 100%;
      height: 24px;
      margin: 4px auto;
      border: 0;
      background-color: transparent;

      font-family: 'Roboto';
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 25px;
      text-align: center;
      letter-spacing: 0.05em;
      font-feature-settings: 'kern' off;
      color: inherit;
      text-overflow: ellipsis;

      cursor: grab;
    }
  }

  .title-btn {
    background-color: transparent;

    i {
      display: inline-block;
      border-style: solid;
    }
    &:hover i {
      border-color: #5BC5FF;
    }

    .dark { border-color: black; }
    .light { border-color: white; }
    .open-color-icon {
      width: 16px;
      height: 16px;
      border-width: 1px;
      border-radius: 2px;
    }
    .open-dropdown-icon {
      width: 9px;
      height: 9px;
      margin-bottom: 3px;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }

    // .tooltip { top: 130%; right: 0; white-space: nowrap; }
    // .tooltip::after { bottom: 100%; right: 10%; border-bottom-color: black; }
  }

  .open-dropdown-btn {
    &:hover {
      animation-name: bounce;
      animation-duration: 0.5s;
      animation-fill-mode: both;
    }
    @keyframes bounce {
      50% { transform: translateY(2px); }
    }
  }
}

.content {
  border-radius: 0 0 ($round-radius)-2px ($round-radius)-2px;

  .text {
    box-sizing: border-box;
    height: 100%; width: 100%;
    padding: 18px 24px;
    margin: 0;
    border: 0;
    border-radius: inherit;
    background-color: white;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.05em;
    font-feature-settings: 'kern' off;
    color: black;
    text-overflow: ellipsis;
    resize: none;
    overflow: auto;

    cursor: auto;
    
    &:read-only {
      cursor: default;
    }

    &::-webkit-scrollbar {
      width: 19px;
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    }
    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      border: 5px solid white;
      border-radius: $round-radius;
    }
  }
}
