// config
$round-radius: 12px;
$title-height: 32px;

.card {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: $round-radius;

  display: grid;
  grid-template-rows: $title-height auto;
}
.active { box-shadow: 0 0 0 6px #DBE2EB, 2px 2px 8px -3px #D7D6D6; }
.inactive { box-shadow: 0 0 0 1px #F0F0F0, 2px 2px 8px -3px #D7D6D6; }
.card:hover { box-shadow: 0 0 0 6px #DBE2EB, 2px 2px 8px -3px #D7D6D6; }
@keyframes card-blink { 50% { box-shadow: 0 0 0 6px #5BC5FF, 2px 2px 8px -3px #D7D6D6; } }

.title {
  padding: 0 9px;
  border-radius: $round-radius $round-radius 0 0;

  display: grid;
  grid-template-columns: auto 18px 12px;
  gap: 12px;

  .dark { color: black; }
  .light { color: white; }
  .input-div {
    width: 100%;
    padding: 0 3px;
    border-radius: $round-radius 0 0 0;
    background-color: transparent;

    .editing {
      user-select: default;
      -moz-user-select: default;
      -webkit-user-select: default;
      cursor: text;
    }
    input {
      width: 100%;
      height: 24px;
      margin: 4px auto;
      border: 0;
      background-color: transparent;

      font-family: "Roboto";
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 25px;
      text-align: left;
      letter-spacing: 0.05em;
      font-feature-settings: "kern" off;
      color: inherit;
      text-overflow: ellipsis;

      cursor: grab;
    }
  }

  button {
    padding: 0;
    justify-content: center;
    display: flex;
  }

  .color-btn {
    background-color: transparent;
    img { padding-top: 2px; }
    &:hover > img { content: url('../../assets/icons/rounded-square-hover.svg'); }
  }

  .dropdown-btn {
    background-color: transparent;
    img { transition-duration: .5s; }
    &:hover > img { transform: translateY(3px); }
  }
}

.content {
  border-radius: 0 0 $round-radius $round-radius;

  .text {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 18px 24px;
    margin: 0;
    border: 0;
    border-radius: inherit;
    background-color: white;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    font-family: "Roboto";
    line-height: 20px;
    letter-spacing: 0.05em;
    font-feature-settings: "kern" off;
    color: black;
    text-overflow: ellipsis;
    resize: none;
    overflow: auto;

    cursor: auto;

    &:read-only {
      cursor: default;
    }

    &::-webkit-scrollbar {
      width: 19px;
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    }
    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      border: 5px solid white;
      border-radius: $round-radius;
    }
  }
}
