@import '../../shared/layout';
@import '../../shared/theme';

$corner-radius: 12px;

$title-height: 45px;
$btn-size: 31px;

// .card {
//   position: absolute;
//   top: 0; left: 0; right: 0; bottom: 0;

//   background-color: lightgray;

//   display: flex;
//   flex-flow: column nowrap;

//   .color-select {
//     position:absolute;
//     right: -1px; top: 32px;
//     border-top: 1px solid black;
//     border-right: 1px solid black;
//     z-index: 10;

//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     grid-template-rows: repeat(3, 1fr);

//     button {
//       grid-column: span 1;
//       grid-row: span 1;
//       width: 31px; height: 31px;
//       border: 0;
//       border-left: 1px solid black;
//       border-bottom: 1px solid black;
//       outline: none;
//     }
//   }
// }

.card {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;

  margin: 2px;
  border: 1px solid black;
  border-radius: $corner-radius;

  display: flex;
  flex-flow: column nowrap;
}

.active-card {
  margin: 0;
  border: 3px solid black;
}

.blink-card {
  animation: card-blink .25s step-end 4 alternate;
}

@keyframes card-blink {
  50% {
    border: 3px solid red;
    margin: 0px;
  }
}

.card-title {
  border-bottom: 1px solid $card-bd-color;
  border-top-left-radius: $corner-radius;
  border-top-right-radius: $corner-radius;
  
  display: flex;
  flex-flow: row nowrap;

  .title {
    position: relative;
    height: 100%; width: 100%;
    padding-left: 5px;
    border: 0;

    background-color: transparent;

    text-align: left;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    -webkit-transition: .4s;
    transition: .4s;

    &:read-only {
      cursor: default;
    }
  }
    
  // button styles
  .btn {
    position: relative;
    box-sizing: border-box;
    height: 100%; width: 30px;
    background: transparent;
  }
  
  // individual button styles
  .show-color-menu-btn {
    .color-img {
      width: 24px; height: 24px;
      border-width: 3px;
      border-style: solid;
      border-radius: 6px;
      background-color: transparent;
    }
    .tooltip { top: 120%; right: -28%; }
    .tooltip::after { bottom: 100%; right: 40%; border-bottom-color: black; }
  }
  .color-menu {
    position: absolute;
    top: $title-height; right: -33px; 
    z-index: 1;
    
    border: 1px solid $tab-menu-bd-color;
    box-shadow: 2px 2px 8px -3px $card-dropdown-ds-color;
    
    background-color: $tab-menu-bg-color;
  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  
    button {
      grid-column: span 1;
      grid-row: span 1;
      width: 31px; height: 31px;
      border: 0 solid;
      outline: none;
    }
  }

  .show-option-menu-btn {
    .tooltip { top: 120%; right: -57%; }
    .tooltip::after { bottom: 100%; right: 40%; border-bottom-color: black; }
  }
  .option-menu {
    position: absolute;
    top: $title-height; right: 4px;
    z-index: 1;

    border: 1px solid $tab-menu-bd-color;
    box-shadow: 2px 2px 8px -3px $card-dropdown-ds-color;

    background-color: $tab-menu-bg-color;
    
    display: flex;
    flex-flow: column nowrap;
  }
}

.card-content {
  border-bottom-left-radius: $corner-radius;
  border-bottom-right-radius: $corner-radius;

  flex: auto;

  .text-textarea {
    box-sizing: border-box;
    height: 100%; width: 100%;
    margin: 0;  padding: 5px;
    border: 0;
    border-bottom-left-radius: $corner-radius;
    border-bottom-right-radius: $corner-radius;

    font-size: 18px;
    text-overflow: ellipsis;

    resize: none;
    overflow: auto;
    
    &:read-only {
      cursor: default;
    }

    &:read-write {
      background-color: white;
    }
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-bottom-right-radius: $corner-radius;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-bottom-right-radius: $corner-radius;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}