$grid-size: 30px;

$button-height: 30px;
$button-width: 30px;
$divider-height: $button-height / 4;

%title-field {
  margin: 0;  padding: 5px;

  color: black;

  border: 0;

  font-weight: bold;
  text-align: center;

  @extend %read-only-effect;
}

%value-field {
  margin: 0;  padding: 5px;

  color: black;
  
  border: 0;

  @extend %read-only-effect;
}

%small-button {
  margin: 0;  padding: 5px;

  color: black;
  background-color: lightgray;

  &:hover {
    background-color: lightskyblue;
  }
}

%read-only-effect {
  &:read-only {
    background-color: lightgray;
    cursor: default;
  }
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

// TOOLTIP CSS
%tooltip {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  font-size: medium;
}

%tooltip-left-arrow {
  //set this in .tooltip::after
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

%tooltip-right-arrow {
  //set this in .tooltip::after
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%; /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

%tooltip-top-arrow {
  //set this in .tooltip::after
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

%tooltip-bottom-arrow {
  //set this in .tooltip::after
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}