$grid-size: 30px;

$divider-height: 8px;

%title-field {
  margin: 0;  padding: 5px;

  color: black;

  border: 0;

  font-weight: bold;
  text-align: center;

  @extend %read-only-effect;
}

%read-only-effect {
  &:read-only {
    background-color: lightgray;
    cursor: default;
  }
}

// BUTTONS
%button-24 {
  box-sizing: content-box;
  height: 24px; width: 24px;
  margin: 0;  padding: 3px;

  color: black;
  background-color: lightgray;

  &:hover {
    background-color: lightskyblue;
  }
}

%button-32 {
  box-sizing: content-box;
  height: 32px; width: 32px;
  margin: 0;  padding: 4px;

  color: black;
  background-color: lightgray;

  &:hover {
    background-color: lightskyblue;
  }
}

// TOOLTIP
%tooltip {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  font-size: medium;
}

%tooltip-left-arrow {
  //set this in .tooltip::after
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

%tooltip-right-arrow {
  //set this in .tooltip::after
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%; /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

%tooltip-top-arrow {
  //set this in .tooltip::after
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

%tooltip-bottom-arrow {
  //set this in .tooltip::after
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}