#toolMenu {
  button {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    padding: 5px;
    margin: 0;
  
    color: black;
    background-color: lightgray;
    font-size: 24px;
    font-weight: bold;

    display: block;

    &:hover {
      background-color: lightskyblue;
    }
  }
}

