@import '../../shared/styles/globalVariables';

#toolMenu {
  display:flex;
  flex-flow: column nowrap;

  margin: 3px 0;
  overflow: hidden;

  .tooltip {
    @extend %small-button;
    height: 30px; width: 30px;
    
    place-items: center;

    border: 1px solid black;
    border-left: 0px;

    .tooltiptext {
      visibility: hidden;
      width: 120px;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
    
      /* Position the tooltip */
      position: absolute;
      left: 50px;
      top: 50px;
      z-index: 1;
    }

    .tooltiptext::after {
      content: " ";
      position: absolute;
      top: 50%;
      right: 100%; /* To the left of the tooltip */
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent black transparent transparent;
    }
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  input {
    @extend %small-button;
    height: 30px; width: 30px;
    
    place-items: center;

    border: 1px solid black;
    border-left: 0px;
  }
}

