@import '../../shared/styles/globalVariables';

#toolMenu {
  display:flex;
  flex-flow: column nowrap;

  overflow: hidden;

  .button {
    @extend %button-32;
    
    place-items: center;

    border: 1px solid black;
    border-left: 0px;

    &:hover .tooltip {
      visibility: visible;
    }

    .tooltip {
      @extend %tooltip;
    
      /* Position the tooltip */
      position: absolute;
      left: 50px;
      z-index: 1;
    }

    .tooltip::after {
      @extend %tooltip-left-arrow
    }
  }

  .divider {
    height: $divider-height;
  }
}

