$border-radius: 0.5rem;

.sign-in-dropdown {
  width: 100%;
  text-align: center;

  .email-sign-in-form {
    padding-bottom: 0;
    border-bottom: 1px solid black;

    line-height: normal;
    font-weight: bold;

    form {
      margin-top: 0.5rem;
      padding: 2% 10%;
      background-color: white;

      .form-row {
        margin-bottom: .5rem;
        display: flex;
        flex-flow: column nowrap;
  
        input {
          width: 100%;
        }
      }
    }

    .sign-in-error {
      color: red;
    }

    .sign-in-btn-container {
      display: flex;
      flex-flow: row nowrap;

      .sign-in {
        margin: 0 1rem;
        border: 1px solid black;
      }

      .forget-password {
        padding-top: 0.2rem;
        font-size: .8rem;
        font-weight: normal;

        &:hover {
          color: lightblue;
        }
      }
      .forget-password-msg {}
    }
  }

  .google-sign-in {
    border-bottom: 1px solid black;
    font-weight: bold;
    .sign-in-error {
      color: red;
    }
  }

  .sign-up {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}

.sign-out-dropdown {
  width: 100%;
  text-align: center;

  .signed-in-with {
    border-bottom: 1px solid black;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .display-name {
    border-bottom: 1px solid black;

    .display-name-input {
      width: 90%;
      margin: 5%;
    }
  }

  .sign-out {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}

.dropdown-item {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 0;
  background-color: lightgray;
}

.auth-divider {
  width: 90%; height: 0.01rem;
  margin: 0.3rem 5%;
  border-top: 0.01rem solid black;
}