@import '../../../../shared/styles/globalVariables';

.libBody {
  background-color: lightgray;
  
  flex: auto;
  
  -webkit-transition: .4s;
  transition: .4s;

  .libTextfield {
    @extend %value-field;
    width: 100%;

    box-sizing: border-box;

    resize: none;
    overflow: auto;
    
    -webkit-transition: .4s;
    transition: .4s;
  }
}