@import '../../../shared/theme';

$btn-size: 38px;
$border-radius: 5px;

.toolmenu-btn {
  margin: 10px auto 0 auto;
  
  button {
    position: relative;
    place-items: center;

    height: $btn-size; width: $btn-size; 
    border-radius: $border-radius;
  
    background-color: $toolmenu-button-bg-color;
  
    .tooltip { left: 130%; top: 15%; white-space: nowrap; }
    .tooltip::after { right: 100%; top: 50%; border-right-color: black; }
  
    &:hover { background-color: lightblue; }
    &:disabled { background-color: gray; }
    &:disabled:hover { background-color: gray; cursor: not-allowed; }
  
    img {
        margin: auto;
    }
  }

  p {
    margin: 0.1em auto 0.2em auto;
    text-align: center;
  }
}