#layout {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;

  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: 0;  padding: 0;

  overflow: hidden;

  -webkit-transition: .4s;
  transition: .4s;
  
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

  #userMenu {
    padding: 1rem;
    grid-column: 1 / 4;
    z-index: 100;

    border-bottom: 1px solid black;

    background-color: lightgray;
  }

  #toolMenu {
    grid-column: 1 / 2;
    z-index: 100;
  }

  #viewScreen {
    grid-column: 2 / 3;
  }

  #library {
    grid-column: 3 / 4;
    z-index: 100;
  }

  #viewSelect {
    grid-column: 1 / 4;
    z-index: 100;
  }
}