.view-screen {
  position: absolute;
  inset: 42px 0 42px 42px;
  z-index: 0;

  .empty-screen {
    position: relative;
    margin: 20% 30%;
    padding: 1rem;
    border: 1px solid black;

    background-color: lightgray;
    text-align: center;
    font-size: 2rem;
  }

  .view {
    width: 100%; height: 100%;
    border: 1px solid black;
    background-color: white;

    .grid {
      position: absolute;
      inset: 0;
      background: white;
      background-image: radial-gradient(#FFD749 0.75px, transparent 0);
      background-size: 12px 12px;
      background-position: -2px -2px;
    }
  }

  .scale-view {}

  .drag-view {
    position: absolute;
    inset: 0px;
    z-index: 1;
  }
}