.card {
  position: absolute;
  height: 500px; width: 500px;
  margin: 10px;
  
  border: 1px solid #999;
  border-radius: 3px;

  background: #fff;

  resize: both;
  overflow: auto;

  .header {
    position: absolute;
    top: 0; left: 0; right: 0;
    height: 25px;
    margin: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 90;

    .title {
      float: left;
      height: 100%; width: 100%;
      padding: 3px 5px;

      box-sizing: border-box;
      display: block;

      border: 1px solid #999;
      border-radius: 3px;

      cursor: move;

      background: #ddd;
      
      text-align: left;
      white-space: nowrap;

      &:hover {
        background-color: lightskyblue;
      }
    }

    .headerButton {
      float: right;
      height: 100%; width: 25px;

      box-sizing: border-box;
      display: block;

      border: 1px solid #999;
      border-radius: 3px;

      background: #ddd;

      text-align: center;
      font-size: 14px;

      &:hover {
        background-color: lightskyblue;
      }
    }
  }

  .body {
    position: absolute;
    top: 35px; bottom: 0; left: 0; right: 0;
    margin: 10px;

    .text {
      position: absolute;
      top: 0; bottom: 0; left: 0; right: 0;
      height: 100%; width: 100%;

      box-sizing: border-box;

      background: #ddd;

      overflow: auto;

      &:hover {
        background-color: lightskyblue;
      }
    }
  }
}
