@import '../../shared/styles/globalVariables.scss';
@import '../../shared/styles/cardStyles.scss';

$view-setting-row-height: $grid-size;
$view-setting-width: 400px;

.card {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  
  border-radius: 7px;

  display: flex;
  flex-flow: column nowrap;

  .titleBar {
    border-bottom: 1px solid black;

    display: flex;
    flex-flow: row nowrap;
  
    .titleInput {
      @extend %card-title;
    }
    
    .button {
      @extend %button-24;
      
      place-items: center;

      border-left: 1px solid black;

      &:hover .tooltip {
        visibility: visible;
      }

      .tooltip {
        @extend %tooltip;
      
        /* Position the tooltip */
        position: relative;
        display:inline-block;
        top: 8px;
        left: -16px;
        z-index: 1;
      }

      .tooltip::after {
        @extend %tooltip-top-arrow
      }
    }
  }

  .textBody {
    background-color: white;
    flex: auto;
  
    .textTextarea {
      @extend %card-text;
    }
  }

  .viewSettings {
    position: absolute;
    top: $grid-size + 1; right: 0;
    width: $view-setting-width;
    
    border: 1px solid black;
    background-color: white;
  
    .viewRow {
      height: $view-setting-row-height;
  
      border-bottom: 1px solid black;
      border-left: 1px solid black;
      
      display: grid;
      grid-template-columns: 40% auto;
  
      .viewToggle {
        display: flex;
        flex-flow: row nowrap;
        height: $view-setting-row-height;
  
        .switch {
          position: relative;
          display: inline-block;
          height: $view-setting-row-height; width: ($view-setting-row-height) * 2;
        }
        
        .switch input { 
          opacity: 0;
          height: 0; width: 0;
        }
        
        .slider {
          position: absolute;
          cursor: pointer;
          top: 0; left: 0; right: 0; bottom: 0;
          background-color: #ccc;
          -webkit-transition: .4s;
          transition: .4s;
        }
        
        .slider:before {
          position: absolute;
          content: "";
          height: 22px; width: 22px;
          left: 6px; bottom: 4px;
          background-color: white;
          -webkit-transition: .4s;
          transition: .4s;
        }
        
        input:checked + .slider {
          background-color: #2196F3;
        }
        
        input:focus + .slider {
          box-shadow: 0 0 1px #2196F3;
        }
        
        input:checked + .slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }
  
        .viewName {
          height: $view-setting-row-height - 10;
          padding: 5px;
          border-left: 1px solid black;
  
          font-size: 17px;
          text-align: center;
          text-overflow: ellipsis;
        }
      }
  
      .colorSelection {
        display: grid;
        border-left: 1px solid black;
        grid-template-columns: repeat(8, $view-setting-row-height);
        button {
          padding: 0;
          outline: none;
        }
      }
    }
  }
}

.bubble {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;

  border-radius: 8px;

  display: grid;
  place-items: center;

  .letter {
    font-size: 30px;
    font-weight: bold;
  }
}

@keyframes blink {
  50% {
    border: 3px solid red;
    margin: 0px;
  }
}