// card config
$title-bar-height: 2rem;
$round-radius: 12px;

.library-card {
  box-sizing: content-box;
  position: relative;
  width: 98%;
  height: auto;
  border-radius: $round-radius;
  box-shadow: 2px 8px 3px #d7d6d6;

  .library-border {
    border-radius: $round-radius;
    box-shadow: 0 0 0 2px #f4f4f4;
  }

  &:hover .library-border {
    box-shadow: 0 0 0 3px #c1e9ff;
  }

  .color-select {
    position: absolute;
    right: -1px;
    top: 32px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    z-index: 100;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    button {
      grid-column: span 1;
      grid-row: span 1;
      width: 31px;
      height: 31px;
      border: 0;
      border-left: 1px solid black;
      border-bottom: 1px solid black;
      outline: none;
    }
  }
}

.library-card-content-container {
  position: relative;

  -webkit-transition: 0.4s;
  transition: 0.4s;

  display: flex;
  flex-flow: column nowrap;

  .library-card-textarea {
    flex: 1 1 auto;
    box-sizing: border-box;
    width: 100%;

    margin: 0;
    padding: 5px;
    border: 0;
    border-radius: $round-radius;
    overflow-y: auto;
    resize: none;

    background-color: white;

    background-color: white;

    &::-webkit-scrollbar {
      width: 19px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 0 0 $round-radius 0;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    }
    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      border: 5px solid white;
      border-radius: $round-radius;
    }
  }
}

@keyframes library-card-blink {
  50% {
    border: 3px solid red;
    margin: 0px;
    margin-bottom: 8px;
  }
}
