$title-bar-height: 2rem;

.library-card {
  box-sizing: content-box;
  position: relative;
  width: 98%;
  margin-bottom: 0.5rem;

  &:hover .title-btn {
    opacity: 1;
    transition: opacity 0.2s linear;
  }

  .title-btn {
    position: absolute;
    padding-bottom: 4px;
    border-left: 1px solid black;
    z-index: 1;
  
    opacity: 0;
    transition: visibility 0s 0.6s, opacity 0.6s linear;
  }

  .color-select {
    position:absolute;
    right: -1px; top: 32px;
    border-top: 1px solid black;
    border-right: 1px solid black;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    button {
      grid-column: span 1;
      grid-row: span 1;
      width: 31px; height: 31px;
      border: 0;
      border-left: 1px solid black;
      border-bottom: 1px solid black;
      outline: none;
    }
  }
}

.library-card-title-container {
  height: $title-bar-height;
  border-bottom: 1px solid black;

  display: flex;
  flex-flow: row nowrap;

  .title-input {
    position: relative;
    height: 100%; width: 100%;
    border: 0;
  }

  .edit-title {
    right: 62px;
    border: 0;
    background-color: transparent;
    .tooltip { top: 90%; right: 100%; white-space: nowrap;}
    .tooltip::after { bottom: 100%; right: 40%; border-bottom-color: black; }
  }
  
  .change-color {
    right: 31px;
    div { width: 24px; height: 24px; }
    .tooltip { top: 50%; right: 100%; }
    .tooltip::after { bottom: 100%; right: 40%; border-bottom-color: black; }
  }

  .remove-card {
    right: 0;
    .tooltip { top: 40%; right: 120%; }
    .tooltip::after { bottom: 100%; right: 25%; border-bottom-color: black; }
  }
}

.library-card-content-container {
  width: 100%;
  text-align: center;
  overflow-y: scroll;
  
  -webkit-transition: .4s;
  transition: .4s;

  display: flex;
  flex-flow: column nowrap;

  .library-card-text {
    flex: 1 1 auto;
    box-sizing: border-box;
    width: 100%;

    margin: 0;  padding: 5px;
    border: 0;

    background-color: #ddd;

    overflow: hidden;
    resize: none;
    
    -webkit-transition: .4s;
    transition: .4s;
  }
}