$vertical-offset: 38px;

.action-dropdown {
  position: absolute;
  top: $vertical-offset;
  right: 0;

  background: white;
  border: 1px solid #f4f4f4;
  box-shadow: 0px 0px 8px -3px #9b9b9b;
  border-radius: 12px;
  padding: 13px 0;

  z-index: 800;

  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
    }
    .break {
      margin: 8px 0;
      border: 1px solid #f4f4f4;
    }
  }
}
.dropup {
  top: auto !important;
  bottom: $vertical-offset !important;
}

.selection {
  box-sizing: border-box;
  height: 30px;
  width: 100%;
  margin: 0;
  padding: 0 19px !important;
  background-color: white;

  display: flex;
  
  &:hover { background-color: #C1E9FF; }

  .selection-name {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-right: 15px;
    text-align: left;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 0.05em;
    font-feature-settings: "kern" off;
    background-color: transparent;
  }
  .danger {
    font-weight: 600 !important;
    color: #ed5e31 !important;
  }
  .bold {
    font-weight: 700 !important;
    color: #363B4E !important;
  }
  .disabled {
    color: #C4C4C4 !important;
  }

  .selection-icon {
    display: block;
    width: auto;
    height: auto;
    max-width: 20px;
    max-height: 20px;
    margin: auto;
  }
}
