@use "../../components/Card/Card.scss" as card;

.color-dropdown {
  position: absolute;
  top: card.$title-height + 5px;
  right: 5px;

  background: white;
  border: 1px solid #f4f4f4;
  box-shadow: 0px 0px 20px -5px #9b9b9b;
  border-radius: 12px;
  padding: 15px;

  z-index: 800;
}

.select-text {
  margin: 0 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;

  letter-spacing: 0.05em;
  font-feature-settings: "kern" off;

  color: #353535;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  .item {
    box-sizing: border-box;
    width: 23px;
    height: 19px;
    border-radius: 4px;
    margin: 5px;

    &:hover {
      border: 3px solid #5bc5ff;
    }
  }

  .selected-color {
    border: 2px solid #5bc5ff;
  }
}
