@import '../../../shared/styles/globalVariables.scss';
@import '../../../shared/styles/cardStyles.scss';

.lib-card {
  position: relative;

  width: 100%;

  .lib-title-bar {
    border-bottom: 1px solid black;

    display: flex;
    flex-flow: row nowrap;
  
    .lib-title {
      @extend %card-title;
    }
    
    .button {
      @extend %button-24;
      
      place-items: center;

      border-left: 1px solid black;

      &:hover .tooltip {
        visibility: visible;
      }

      .tooltip {
        @extend %tooltip;
      
        /* Position the tooltip */
        position: absolute;
        top: 50px;
        z-index: 1;
      }

      .tooltip::after {
        @extend %tooltip-top-arrow
      }
    }
  }

  .lib-body {
    flex: auto;
    
    -webkit-transition: .4s;
    transition: .4s;
  
    .lib-textfield {
      @extend %card-text;
      
      -webkit-transition: .4s;
      transition: .4s;
    }
  }
}