$menu-size: 42px;

// follow viewscreen example. use position absolute

.view-select {
  position: fixed;
  bottom: 0; left: 0; right: 0;
  z-index: 90;

  height: $menu-size;

  background-color: lightgray;

  display: flex;
  flex-flow: row nowrap;

  // display: grid;
  // grid-template-columns: 41px 1fr 82px;

  .view-select-item {
    position: absolute;
    border: 1px solid black;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 10;
  }
  
  .add-view {
    left: 0;
    .tooltip { bottom: 120%; left: 15%; white-space: nowrap; }
    .tooltip::after { top: 115%; left: 15%; border-top-color: black; }
  }

  .show-view-list {
    left: 41px;
    .tooltip { bottom: 120%; left: -50%; white-space: nowrap; }
    .tooltip::after { top: 115%; left: 40%; border-top-color: black; }
  }

  .view-scroll-left {
    right: 41px;
    border-right: 0;
    border-bottom-right-radius: 0;
    .tooltip { bottom: 150%; right: -40%; white-space: nowrap; }
    .tooltip::after { top: 115%; right: 40%; border-top-color: black; }
  }
  .view-scroll-right {
    right: 0;
    border-left: 0;
    border-bottom-left-radius: 0;
    .tooltip { bottom: 150%; right: 15%; white-space: nowrap; }
    .tooltip::after { top: 115%; right: 15%; border-top-color: black; }
  }

  .view-list {
    position: absolute;
    max-width: 40vw; max-height: 80vh;
    left: $menu-size;

    border: 1px solid black;
    border-bottom: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    background-color: gray;

    overflow-y: scroll;

    z-index: -1;

    -webkit-transition: .2s;
    transition: .2s;

    display: flex;
    flex-flow: column nowrap;

    .view-list-item {
      padding: 0.2rem;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      background-color: lightgray;
      text-align: left;
      font-size: 1.2rem;
      text-overflow: ellipsis;
    }
  }
}

.view-tab-container {
  position: absolute;
  inset: 0 82px;
  z-index: 0;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: visible;

  .view-tab-container-container {
    position: absolute;
    height: 100%;

    display: flex;
    flex-flow: row nowrap;

    .border-line {
      top: 0; right: 0;
      width: 100vw;
      z-index: 0;
      border-top: 1px solid black;
    }
  }
}