// GLOBAL CSS //
* {
  box-sizing: border-box;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

  font-family: "Roboto";
  font-weight: 400;
}

input:focus, textarea:focus, select:focus, button:focus {
  outline: none;
}

button {
  img { vertical-align: middle;}
}

// GLOBAL CLASSES //
.layout {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 0;
}

.btn-24 { // button for an img of 24px x 24px
  height: 24px; width: 24px;
  padding: 3px;
}

.btn-32 { // button for an img of 32px x 32px
  height: 32px; width: 32px;
  padding: 4px;
}

.btn-24, .btn-32, .btn-any { 
  box-sizing: content-box;
  position: relative;
  margin: 0; border: 0;
  
  place-items: center;

  &:hover {
    background-color: lightskyblue;
  }

  &:hover .tooltip {
    visibility: visible;
  }

  .tooltip {
    // top, bottom, left, right need to be set for tooltip position
    display: inline-block;
    position: absolute;
    // top: 50%; right: 125%;       <-- tooltip is to the left
    // top: 130%; right: 50%;       <-- tooltip is to the bottom
    // bottom: 150%; left: 25%;     <-- tooltip is to the top
    padding: 5px;
    // border-radius: 1px;
    color: #fff;
    background-color: black;
    text-align: center;
    font-size: medium;
    visibility: hidden;
    z-index: 10000;
  }

  .tooltip::after {
    // top, bottom, left, right need to be set for the arrow position
    // border-color needs to be changed to be black for the direction of the arrow
    content: " ";
    position: absolute;
    // left: 100%; top: 50%;        <-- tooltip is to the left
    // bottom: 100%; right: 50%;    <-- tooltip is to the bottom
    // top: 120%; right: 50%;       <-- tooltip is to the top
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent transparent;
    // border-left-color: black;    <-- tooltip is to the left
    // border-bottom-color: black;  <-- tooltip is to the bottom
    // border-top-color: black;     <-- tooltip is to the top
  }
}