* {
  box-sizing: border-box;

  font-family: Roboto;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.layout {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #E8EEF5;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

button {
  box-sizing: content-box;
  position: relative;
  margin: 0;
  border: 0;

  place-items: center;

  &:hover .tooltip {
    visibility: visible;
    transition-delay: 0.5s;
  }

  .tooltip {
    // top, bottom, left, right need to be set for tooltip position
    display: inline-block;
    position: absolute;
    // top: 50%; right: 125%;       <-- tooltip is to the left
    // top: 130%; right: 50%;       <-- tooltip is to the bottom
    // bottom: 150%; left: 25%;     <-- tooltip is to the top
    padding: 3px 8px;
    border-radius: 6px;
    background-color: #363B4E;
    visibility: hidden;
    z-index: 10000;
    transition: 0s visibility;

    color: white;
    text-align: center;
    font-kerning: none;
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.55px;
  }

  .tooltip::after {
    // top, bottom, left, right need to be set for the arrow position
    // border-color needs to be changed to be black for the direction of the arrow
    content: '';
    position: absolute;
    z-index: 10001;
    // left: 100%; top: 50%;        <-- tooltip is to the left
    // bottom: 100%; right: 50%;    <-- tooltip is to the bottom
    // top: 120%; right: 50%;       <-- tooltip is to the top
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent transparent;
    // border-left-color: black;    <-- tooltip is to the left
    // border-bottom-color: black;  <-- tooltip is to the bottom
    // border-top-color: black;     <-- tooltip is to the top
    z-index: 1;
  }
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Regular"),
    url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
}
