@import '../../../../../shared/layout';
@import '../../../../../shared/theme';
$title-height: 45px;
$btn-size: 31px;

.card-title {
  border-bottom: 1px solid $card-bd-color;
  
  display: flex;
  flex-flow: row nowrap;

  .title {
    position: relative;
    height: 100%; width: 100%;
    padding-left: 5px;
    border: 0;

    background-color: transparent;

    text-align: left;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    -webkit-transition: .4s;
    transition: .4s;

    &:read-only {
      cursor: default;
    }
  }
    
  // button styles
  .btn {
    position: relative;
    box-sizing: border-box;
    height: 100%; width: 30px;
    background: transparent;
  }
  
  // individual button styles
  .show-color-menu-btn {
    .color-img {
      width: 24px; height: 24px;
      border-width: 3px;
      border-style: solid;
      border-radius: 6px;
      background-color: transparent;
    }
    .tooltip { top: 120%; right: -28%; }
    .tooltip::after { bottom: 100%; right: 40%; border-bottom-color: black; }
  }
  .color-menu {
    position: absolute;
    top: $title-height; right: -33px; 
    z-index: 1;
    
    border: 1px solid $tab-menu-bd-color;
    box-shadow: 2px 2px 8px -3px $card-dropdown-ds-color;
    
    background-color: $tab-menu-bg-color;
  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  
    button {
      grid-column: span 1;
      grid-row: span 1;
      width: 31px; height: 31px;
      border: 0 solid;
      outline: none;
    }
  }

  .show-option-menu-btn {
    .tooltip { top: 120%; right: -57%; }
    .tooltip::after { bottom: 100%; right: 40%; border-bottom-color: black; }
  }
  .option-menu {
    position: absolute;
    top: $title-height; right: 4px;
    z-index: 1;

    border: 1px solid $tab-menu-bd-color;
    box-shadow: 2px 2px 8px -3px $card-dropdown-ds-color;

    background-color: $tab-menu-bg-color;
    
    display: flex;
    flex-flow: column nowrap;
  }
}