$border-radius: 0.5rem;

.campaign-select {
  .new-campaign {
    box-sizing: border-box;
    height: 31px; width: 100%;
    margin: 0;  padding: auto;
    border: 0;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    flex: auto;

    text-align: center;
    font-weight: bold;
    font-size: 14px;
    text-overflow: ellipsis;

    overflow: hidden;
    
    &:hover {
      background-color: lightblue;
    }
  }
}