@import '../../shared/styles/globalVariables';

.user-menu {
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 100;
  
  height: $menu-size;

  border-bottom: 1px solid black;
  background-color: lightgray;

  display: flex;
  flex-flow: row nowrap;

  .campaign {
    border-bottom: 1px solid black;
    text-align: center;
    line-height: 41px;
  }

  .dropdown {
    display: inline-block;
    position: relative;
    width: 16rem;
  }

  .dropdown-btn {
    @extend %button-any;
    text-align: center;
    line-height: 41px;
  }

  .dropdown-content {
    position: absolute;
    width: 100%;
    z-index: 110;

    border: .01rem solid black;

    background-color: white;

    box-shadow: -.2rem .2rem .1rem rgba(0,0,0,0.2);
  }
} 

.dmkit-title {
  grid-column: 1 / 2;
  width: 100%;
  line-height: 41px;

  display: flex;
  flex-flow: row nowrap;

  .title-text {
    @extend %title-field;

    width: 100%; height: 100%;
  
    flex: auto;
  
    font-size: 22px;
    text-overflow: ellipsis;
  
    overflow: hidden;
  }

  .save-warning {
    @extend %button-32;
    
    &:hover .tooltip {
      visibility: visible;
    }

    .tooltip {
      @extend %tooltip;
    
      /* Position the tooltip */
      position: relative;
      top: 0; right: 65px;
      z-index: 1;
      white-space: nowrap;
    }
  
    .tooltip::after {
      @extend %tooltip-top-arrow;
    }
  }
}