$menu-height: 42px;
$border-radius: 0.5rem;

.user-menu {
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 100;
  
  height: $menu-height;

  display: flex;
  flex-flow: row nowrap;

  .dropdown {
    display: inline-block;
    position: relative;
  }

  .dropdown-btn {
    width: 100%;

    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 2px solid black;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    color: black;
    background-color: lightgray;

    text-align: center;
    line-height: 41px;

    &:hover {
      background-color: lightblue;
    }
  }

  .dropdown-content {
    position: absolute;
    left: 3%;
    width: 94%;
    z-index: 110;

    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    background-color: white;

    // box-shadow: -.2rem .2rem .1rem rgba(0,0,0,0.2);
  }
} 

.dmkit-title {
  width: 100%; height: 100%;
  line-height: 41px;

  border-right: 1px solid black;
  border-bottom: 2px solid black;
  border-bottom-right-radius: $border-radius;

  background-color: lightgray;

  text-align: center;

  display: flex;
  flex-flow: row nowrap;

  &:hover .edit-title {
    opacity: 1;
    transition: opacity 0.2s linear;
  }

  .title-text {
    position: relative;
    height: 100%; width: 100%;

    margin: 0;  
    padding: 0 10%;
    border: 0;
    border-bottom-right-radius: $border-radius;

    color: black;

    font-size: 22px;
    font-weight: bold;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    overflow: hidden;

    &:read-only {
      background-color: lightgray;
      cursor: default;
    }
  }

  .edit-title {
    right: 0;
    border-bottom-right-radius: $border-radius;
    background-color: lightgray;
    z-index: 1;

    opacity: 0;
    transition: visibility 0s 0.6s, opacity 0.6s linear;

    .tooltip { top: 130%; right: 0; }
    .tooltip::after { bottom: 100%; right: 35%; border-bottom-color: black; }
  }
}