@import '../../shared/styles/globalVariables';

#user-menu {
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 100;
  
  height: $menu-size;

  border-bottom: 1px solid black;
  background-color: lightgray;

  // display: grid;
  // grid-template-rows: 1fr;
  // grid-template-columns: 1fr 200px 200px;
  display: flex;
  flex-flow: row nowrap;

  .campaign {
    // grid-column: 2 / 3;
    border-bottom: 1px solid black;
    text-align: center;
    line-height: 41px;

    .new-campaign {
      height: 31px;
      margin: 0;  padding: 5px;
      border: 0;
    
      flex: auto;
    
      text-align: center;
      font-weight: bold;
      font-size: 14px;
      text-overflow: ellipsis;
      line-height: 21px;
    
      overflow: hidden;
    }
  }

  .dropdown {
    display: inline-block;
    position: relative;
    width: 16rem;
  }

  .dropdown-btn {
    @extend %button-any;
    text-align: center;
    line-height: 41px;
  }

  .dropdown-content {
    position: absolute;
    width: 100%;
    z-index: 110;

    border: .01rem solid black;

    background-color: white;

    box-shadow: -.2rem .2rem .1rem rgba(0,0,0,0.2);
  }
} 

#dmkit-title {
  grid-column: 1 / 2;
  width: 100%;
  line-height: 41px;

  display: flex;
  flex-flow: row nowrap;

  .title-text {
    @extend %title-field;

    width: 100%; height: 100%;
  
    flex: auto;
  
    font-size: 22px;
    text-overflow: ellipsis;
  
    overflow: hidden;
  }

  .save-warning {
    @extend %button-32;
    
    &:hover .tooltip {
      visibility: visible;
    }

    .tooltip {
      @extend %tooltip;
    
      /* Position the tooltip */
      position: relative;
      top: 0; right: 65px;
      z-index: 1;
      white-space: nowrap;
    }
  
    .tooltip::after {
      @extend %tooltip-top-arrow;
    }
  }
}

#sign-in-dropdown {
  padding: 1rem;

  #email-sign-in-form {
    line-height: normal;

    h1 {
      margin: 0 0 .5rem 0;
      text-align: center;
      font-size: 1.5em;
    }
    .form-row {
      margin-bottom: .5rem;
      display: flex;
      flex-flow: column nowrap;

      label {
        margin-bottom: 0.05rem;
      }

      input {
        width: 90%;
      }
    }
    button {
      margin-bottom: .5rem;
    }
    .sign-in-error {
      margin-bottom: .5rem;
      color: red;
    }

    .sign-up-button {
      margin-bottom: .5rem;
      font-size: .8em;
      &:hover {
        color: lightblue;
      }
    }
  }

  #other-provider-sign-in {
    button {
      margin-top: .5rem;
    }
    .sign-in-error {
      margin-bottom: .5rem;
      color: red;
    }
  }

  .divider {
    width: 90%; height: 0.01rem;
    border-top: 0.01rem solid black;
    margin-bottom: .5rem;
  }
}

#sign-out {
  text-align: center;
}