.viewList {
  position: fixed;
  top: 40px;
  width: 100%;
  // padding: 5px;

  border-bottom: 1px solid black;

  background-color: white;

  // column-count: 3;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */

  div {
    float: left;
    padding: 5px 10px;
  }
}