#sign-up-popup {
  position: absolute;
  top: 50%; 
  left: 50%;
  z-index: 550;
  // transform: translate(-50%, -50%);

  box-sizing: border-box;
  width: 30rem;
  height: auto;

  margin: auto;
  padding: 2rem;
  border-radius: .6rem;

  background-color: white;

  transition: transform 0.4s ease;

  h1 {
    margin: 0 1rem 1rem 1rem;
    white-space: nowrap;
    text-align: center;
    font-size: 3rem;
  }

  button {
    font-size: 1.5rem;
  }
}

.open {
  transform: translate(-50%, -50%);
}

.close {
  transform: translate(-50%, -350%);
}

#email-sign-up-form {
  margin-bottom: 1rem;

  .form-row {
    margin-bottom: 1rem;
    font-size: 2rem;
    display: flex;
    flex-flow: column nowrap;

    label {
      margin-bottom: .3rem;
    }

    input {
      width: 80%;
      font-size: 2rem;
    }
  }

  button {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
}