#auth-popup {
  position: absolute;
  top: 50%; 
  left: 50%;
  z-index: 550;
  // transform: translate(-50%, -50%);

  box-sizing: border-box;
  width: 30rem;
  height: auto;

  margin: auto;
  padding: 2rem;
  border-radius: .6rem;

  background-color: white;

  transition: transform 0.4s ease;
  
  h1 {
    margin: 0 1rem 1rem 1rem;
    white-space: nowrap;
    text-align: center;
    font-size: 3rem;
  }
}

.open {
  transform: translate(-50%, -50%);
}

.close {
  transform: translate(-50%, -450%);
}

#email-sign-up-screen {
  h1 {
    margin: 0 1rem 1rem 1rem;
    white-space: nowrap;
    text-align: center;
    font-size: 3rem;
  }
  form {
    .sign-up-error {
      margin-bottom: 1rem;
      color: red;
    }
  }
}

#email-verify-screen {
  text-align: center;
  p {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
  }
  button {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
}

#account-setup-screen {}

.sign-up-form {
  margin-bottom: 1rem;
  .form-row {
    margin-bottom: 1rem;
    font-size: 2rem;
    display: flex;
    flex-flow: column nowrap;
    label {
      margin-bottom: .3rem;
    }
    input {
      width: 80%;
      font-size: 2rem;
    }
  }
  button {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
}