@import '../../../shared/theme';

.menu-list {
  padding: 7px 14px;

  button {
    box-sizing: border-box;
    width: 100%;
    
    border: 0;
    // margin-bottom: 4px;
    
    background-color: transparent;

    text-align: left;
    font-style: normal;
    font-size: 14px;
    // line-height: 25px;
    letter-spacing: 0.05em;
  }

  hr {
    // margin-bottom: 4px;
    
    color: $divider-color;
  }
}