@import '../../../shared/theme';

.menu-list {
  padding: 0;

  display: flex;
  flex-flow: column nowrap;

  .menu-btn {
    box-sizing: border-box;
    width: 100%;
    padding: 0.4rem 0.6rem;
    border: 0;
    
    background-color: transparent;

    text-align: left;
    font-style: normal;
    font-size: 14px;
    // line-height: 25px;
    letter-spacing: 0.05em;
    white-space: nowrap;

    &:hover {
      background-color: $hover-text-bg-color;
    }
  }

  .divider {
    margin: 0.2rem 0.6rem;
    border-style: solid;
    color: $divider-color;
    background-color: $divider-color;
  }
}