@import '../../../shared/theme';

.menu-list {

  button {
    box-sizing: border-box;
    width: 100%;
    
    background-color: transparent;
    border: 0;

    text-align: left;
    font-style: normal;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 0.05em;
  }

  hr {
    margin: 0px 0;
    color: $divider-color;
  }
}